@claro:registry=https://pkgs.dev.azure.com/OrgClaroColombia/SUPERAPP/_packaging/superapp%40Local/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/OrgClaroColombia/SUPERAPP/_packaging/superapp%40Local/npm/registry/:username=OrgClaroColombia
//pkgs.dev.azure.com/OrgClaroColombia/SUPERAPP/_packaging/superapp%40Local/npm/registry/:_password=Q0UxWGlkQTMydENURG9rSDh3MlV0NzF3WTFiYmZKYW91Z1AyMThSdWNIWHlFNm1GNlUyQUpRUUo5OUJFQUNBQUFBQUhmeHM2QUFBU0FaRE8yTEt2
//pkgs.dev.azure.com/OrgClaroColombia/SUPERAPP/_packaging/superapp%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/OrgClaroColombia/SUPERAPP/_packaging/superapp%40Local/npm/:username=OrgClaroColombia
//pkgs.dev.azure.com/OrgClaroColombia/SUPERAPP/_packaging/superapp%40Local/npm/:_password=Q0UxWGlkQTMydENURG9rSDh3MlV0NzF3WTFiYmZKYW91Z1AyMThSdWNIWHlFNm1GNlUyQUpRUUo5OUJFQUNBQUFBQUhmeHM2QUFBU0FaRE8yTEt2
//pkgs.dev.azure.com/OrgClaroColombia/SUPERAPP/_packaging/superapp%40Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token